.axis {
  font: 10px sans-serif;
}

.domain {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

#chart-area text {
  font-size: 11px;
}

.axis-label {
  fill: #888;
  font-size: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
  color: white;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  color: white;
}

.subtext {
  font-style: italic;
}

#wrapper {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.relative {
  margin: 3%;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background-color: #333333;
}

#tooltip {
  position: absolute;
}

#areaChart {
  border-top: #ffff66;
}

.xAxis {
  color: white;
  font-size: 14px;
}

.yAxis {
  color: white;
  font-size: 14px;
}

.legendDots {
  font-size: 16px;
  fill: white;
}

.titleText {
  font-size: 30px;
  fill: white;
}
.yLabelLine {
  color: white;
  font-size: 16px;
}

#bubble {
  padding: 0px 200px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:auto auto;
  grid-template-areas: 
  "board viz"
  "control control";
}

#bubble svg{
    grid-area: viz;
}

#bubble .board{
  grid-area: board;
  text-align: left;
  color:  #FFFF66;
  padding: 50px 0px;

}

#bubble .board .date{
  font-weight: bold;
}

#bubble .board .event{
  font-size: 16px;
  line-height: 120%;
  color: white;
  opacity: 0.8;
}

#bubble .control {
   grid-area: control;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px;
  align-items: center;
  width: 100%;
}

#bubble .play-pause {
  width: 80px;
  padding: 4px;
  background-color: rgba(255, 255, 102, 1);
  color: #21252e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

#bubble .progress {
  height: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color:#21252F;
} 
#bubble .progress .range{
width: 100%;
padding: 0px 0px 0px 8px;
}

#bubble .progress .range .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background:#3e4f5d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 12.5px;
}

#bubble .progress .range .slider:hover {
  opacity: 1;
}

#bubble .progress .range .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #faf8b7;
  cursor: pointer;
}

#bubble .progress .range .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background:  #faf8b7;
  cursor: pointer;
}

#bubble .progress .range .sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#bubble .sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #3e4f5d;
  height: 10px;
  line-height: 42px;
  margin: 0 0 20px 0;
}

#bubble .slider-label {
  font-size: 14px;
  text-align: center;
  color: #faf8b7;
  font-weight: bold;
  white-space: nowrap;
}

#bubble .dot {
  fill: white;
  stroke: white;
  stroke-opacity: 0.3;
}

#bubble .label {
  fill: #ecec7b;
  font-size: 16px;
  text-anchor: middle;
  dominant-baseline: middle;
}

#bubble .label .name {
  font-weight: bold;
}



#map {
  width: 100%;
  padding: 0px 20px;
}


#map .area {
  fill: #3e4f5d;
  stroke: #3e4f5d;
}

#map .dot {
  fill: #edeb78;
  stroke: none;
}

#map .dot .body {
  opacity: 0.3;
}

#map .control {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0px;
  align-items: center;
  width: 100%;
}

#map button.play-pause {

}

#map .progress {
  height: fit-content;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color:#21252F;
} 

#map .progress .range{
width: 100%;
padding: 0px 0px 0px 8px;
}

#map .progress .range .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background:#3e4f5d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 12.5px;
}

#map .progress .range .slider:hover {
  opacity: 1;
}

#map .progress .range .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #faf8b7;
  cursor: pointer;
}

#map .progress .range .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background:  #faf8b7;
  cursor: pointer;
}

#map .progress .range .sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#map .sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #3e4f5d;
  height: 10px;
  line-height: 42px;
  margin: 0 0 20px 0;
}

#map .slider-label {
  font-size: 14px;
  text-align: center;
  color: #faf8b7;
  font-weight: bold;
  white-space: nowrap;
}

#map .date-label{
  fill:  #FFFF66;
  font-weight: bold;
}

/* dot plot */
#dotPlotVis .control {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  width: 100%;
}

#dotPlotVis button.play-pause {

}

#dotPlotVis .progress {
width: 100%;
padding: 0px 0px 0px 8px;
background: none;
}

#dotPlotVis .progress .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background:#3e4f5d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 12.5px;
}

#dotPlotVis .date-label{
  fill:  #faf8b7;
font-weight: bold;
}


#dotPlotVis .slider:hover {
  opacity: 1;
}

#dotPlotVis .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #faf8b7;
  cursor: pointer;
}

#dotPlotVis .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #faf8b7;
  cursor: pointer;
}

#dotPlotVis .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background:  #faf8b7;
  cursor: pointer;
}

.xlabel {
  fill: #ffffff;
  font-size: 16px;
  color:#ffffff
}

.ylabel {
  fill: #ffffff;
  font-size: 16px;
}

.yLabelDot {
  fill: #ffffff;
  color:#ffffff;
  font-size: 16px;
}
.yLabelDeaths {
  fill: #FFFF66;
  color:#FFFF66;
  font-size: 16px;
}


.yearLabel{
  fill: #ffffff;
  font-size: 14px;
}

.yAxisDeaths{
  font-size: 12px;
  color: #FFFF66;
  fill: #FFFF66;

}

.yAxisDeaths line{
  stroke-width: 1px;
  fill: #FFFF66;
}

.deathsLabel {
  font-size: 14px;
  fill: #FFFF66;

}

.casualtiesLabel{
  fill: #FFFF66;
  font-size: 16px;
}


.casualtiesNumber{
  fill: #FFFF66;
  font-size: 24px;
}